.App-logo {
  height: 20vmin;
  pointer-events: none;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toppage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEDCBD;
}

.toppage-component {
  background-color: #CCFFCC;
  width: 95%;
  border: solid 1px black;
  margin: 10px;
}

.toppage-thread {
  background-color: #EFEFEF;
  width: 95%;
  border: solid 1px black;
  margin: 10px;
}

.toppage-thread-title {
  color: red;
  font-weight: bold;
  font-size: x-large;
}