.response-header {
    flex: 1;
    flex-direction: column;
}

.response-name-nomail {
    color: green;
    font-weight: bold;
}

.response-name-hasmail {
    color: blue;
    font-weight: bold;
}

.response-body {
    font-size: 16px;
    line-height:18px;
    font-family: "MS P ゴシック",'MS PGothic',RobotoJAA,Monapo;
    letter-spacing: 0;
}